/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(57, 57, 57); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 50, 51, 0.809); 
  }
.table_body{
    max-height:73.2vh;
    overflow-y: scroll;
    /* table-layout: fixed; */
    
}